* {
  font-family: "Times New Roman";
}

body {
  max-width: 1366px;
  margin: auto;
}

.head {
  background: #2273ba;
  height: 296px;
  margin-top: 150px
}

.slider {
  margin-top: -154px;
}

.no-padding {
  padding: 0px;
}

.no-margin {
  margin: 0px;
}

.accents {
  color: #2273ba;
}   

.title {
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
}


.content_menu {
  opacity:0.95;
  background: #fff;
  margin: 20px;
  border-radius: 10px;
  padding: 20px;
}

.menu_header {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  background: #bfbfbf;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 2px;
  color: #fff;
}

.menu_content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu_content ul li {
  margin: 5px;
  text-transform: uppercase;
  font-size: 18px;
}


.content{
  width:100%;
  height:100%;
  background:#fff;
  
}

.content:after {
  content:"";
  display:table;
  clear:both;
}

.left_menu {
  padding-top:30px;
  float:left;
  background: #bfbfbf;
  width:150px;
  height:640px;
  position:fixed;
}

.center_menu{
  padding-top:30px;
  padding-left:150px;
  float:right;
  float:left;
  width:950px;
  height:640px;
  background:#fffff;
}	

.right_menu{
  padding-top:30px;
  position:fixed;
  margin-left:1050px;
  float:right;
  width:248px;
  height:640px;
  background-image:url("../img/web/batik.png");
}

.fmcircle_out {
  width: 100px;
  height: 100px;
  background-color:white;
  text-align: center;
  display: block;
  margin-top:-20px;
  margin-left: 20px;
  opacity: 0.8; 

  border-radius: 80px;
  -webkit-border-radius: 80px;

  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  margin-bottom : 40px;
}

.fmcircle_out:hover {
  opacity: 1; 
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
} 
.fmcircle_out:hover .fmcircle_in img {
  
  
  width: 93px;
  height: 93px;

  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.fmcircle_in {

  width: 150px;
  height: 150px;
  margin: 15px;
  display: inline-block;
  overflow: hidden;

  border-radius: 65px;
  -webkit-border-radius: 65px;
}
.fmcircle_in img {

  border: none;
  margin-top: 5px;
  margin-left: -70px;
  width: 80px;
  height: 80px;

  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.fmcircle_in span {
  padding-top:5px;
  border: 0;
  vertical-align: baseline;
  width: 170px;
  background: #fff;
  color: #666666;
  padding: 5px;
  margin: 25px 0 0 -120px;
  height: 20px;
  text-align: center;
  font-size:1.3em;
  font-weight: bold;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  float: left;
  position: absolute;
  opacity: 0;

  border-radius: 2px;
  -webkit-border-radius: 2px;

  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.fmcircle_out:hover .fmcircle_in span {
  opacity: 1;

  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.text-content {
  padding: 10px 30px;
}

