* {
  font-family: "Times New Roman";
}

p{
	font-size:1.3em;
}
body {
  max-width: 1366px;
  margin: auto;
}

.head {
  background: #2273ba;
  height: 100%;
}

.slider {
  margin-top: -154px;
}

.no-padding {
  padding: 0px;
}

.no-margin {
  margin: 0px;
}

.accents {
  color: #2273ba;
}

.welcome {
  padding-top: 5%;
  color: #fff;
}

.title {
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
}

.countdown {
  text-transform: uppercase;
  background: url("../img/web/batik3.png") no-repeat center center;
  background-size: cover;
  padding-top: 10px;
  margin-top: -1px;
}

.date_countdown {
  text-align: center;
}

.days, .hours, .minutes, .seconds {
  font-size: 20px;
}

.content {
  padding-top: 40px;
  background: #bfbfbf;
  height: 100%;
}

.content:after {
  content:"";
  display:table;
  clear:both;
}

.main_content {
  background: #fff;
  margin: 20px;
  /*height:750px;*/
  border-radius: 10px;
  padding: 20px;
}

.content_menu {
  background: #fff;
  margin: 20px;
  border-radius: 10px;
  padding: 20px;
}

.menu_header {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  background: #bfbfbf;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 2px;
  color: #fff;
}

.menu_content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu_content ul li {
  margin: 5px;
  text-transform: uppercase;
  font-size: 18px;
}
  
.fmcircle_out {
  width: 120px;
  height: 120px;
  background-color:white;
  text-align: center;
  display: block;
  margin-top:15px;
  margin-left: 40px;
  opacity: 0.8; 
  
  border-radius: 100px;
  -webkit-border-radius: 100px;
  
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  margin-bottom : 40px;
}
  
.fmcircle_out:hover {
  opacity: 1; 
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.fmcircle_out:hover .fmcircle_in img {
  margin: 10px 25px 25px 25px;
  width: 110px;
  height: 110px;
  
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.fmcircle_in {
  width: 170px;
  height: 170px;
  margin: 15px;
  display: inline-block;
  overflow: hidden;
  
  border-radius: 185px;
  -webkit-border-radius: 85px;
}

.fmcircle_in img {
  border: none;
  margin-top: 5px;
  margin-left: -70px;
  width: 80px;
  height: 100px;
    
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.fmcircle_in span {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  width: 190px;
  background: #fff;
  color: #666666;
  padding: 5px;
  margin: 70px 0 0 0;
  height: 25px;
  text-align: center;
  font-size:1.3em;
  font-weight: bold;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  float: left;
  position: absolute;
  opacity: 0;
  
  border-radius: 2px;
  -webkit-border-radius: 2px;
    
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.fmcircle_out:hover .fmcircle_in span {
  opacity: 1;
  
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#slideshow { 
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
}

#slideshow > div { 
  position: absolute;
  width: 100%;
}

#slideshow > div > img {
  max-width: 100%;
  max-height: 100%;
}

.text-content {
  padding: 10px;
}

/*Responsive Design*/
@media only screen and (min-width:1024px) {
  .head {
    margin-top: 150px;
    height: 296px;
  }

  .welcome {
    padding-top: 5%;
  }
}

@media only screen and (min-width:813px) {
  .head {
    margin-top: 150px;
  }
  
  #slideshow {
    margin-top: -154px;
    width: 813px;
    height: 451px;
  }
}